*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: beige;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	padding: 0.5rem;
}

.main-btn {
	margin: 1rem 0;
	padding: 0.5rem;
	font-size: 1.25rem;
	font-weight: bold;
}

.secondary-btn {
	padding: 0.25rem;
	font-size: 1rem;
}

.message-text {
	margin: 1rem 0;
	font-weight: bold;
}

.messages-container {
	margin: 0.5rem 0;
	border-top: 2px solid black;
}

#new-message-form {
	display: flex;
	flex-direction: column;
}

#new-message-form > button {
	margin-top: 1rem;
}

.form-section {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
}

.form-section > label {
	font-size: 1.125rem;
	font-weight: bold;
}

.form-section > input {
	padding: 0.25rem;
}

.details-info {
	margin: 0.5rem 0;
	font-size: 1.25rem;
}
